html, body, #root, #root > div {
    height: 100%
}

body {
    color: rgb(32, 33, 36);
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

div.container {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}

.username {
    height: fit-content;
    width: 18em;
}